services:
  nuclei-api:
    environment:
      - SENTRY_DSN=
      - NUCLEI_TEMPLATE_PATH=/root/nuclei-templates
      - NUCLEI_CUSTOM_TEMPLATE_UPLOAD_PATH=/root/nuclei-templates/custom
      - APP_PORT=8080
      - ENVIRONMENT=ci
      - RELEASE=ci
      - REDIS_URL=redis://redis:6379/0
      - LLM_MODEL=deepseek-coder:1.3b
      - OLLAMA_URL=http://ollama:11434/api/generate
      - SHODAN_API_KEY=
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./nuclei-templates:/root/nuclei-templates
    ports:
      - "8000:8080"

  celery_worker:
    environment:
      - SENTRY_DSN=
      - NUCLEI_TEMPLATE_PATH=/root/nuclei-templates
      - NUCLEI_CUSTOM_TEMPLATE_UPLOAD_PATH=/root/nuclei-templates/custom
      - APP_PORT=8080
      - ENVIRONMENT=ci
      - RELEASE=ci
      - REDIS_URL=redis://redis:6379/0
      - LLM_MODEL=deepseek-coder:1.3b
      - OLLAMA_URL=http://ollama:11434/api/generate
      - SHODAN_API_KEY=
    volumes:
      - ./nuclei-templates:/root/nuclei-templates
      - /var/run/docker.sock:/var/run/docker.sock
